@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    flex-direction: column;      /* <-- stack children vertically (h1 above .container) */
    justify-content: flex-start; /* align vertically from top (we'll use margin for spacing) */
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    background: url(pics/clouds.jpg) no-repeat center center/cover;
    position: relative;
    color: #333;
    padding-top: 40px;           /* space from top of page */
    padding-bottom: 40px;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* white with 50% opacity */
  z-index: 0;
}
.container {
    margin: 0 15 px;
    position: relative;
    z-index: 1;

}
.welcome-section {
    position: relative;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.welcome-section[style*="display: none"] {
  opacity: 0;
}
 .welcome-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #2e59a7;
    margin-bottom: 10px;
    margin-top: 40px;
    text-shadow: none;
    letter-spacing: 1px;
    z-index: 2;  
}
.welcome-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 0px;
  margin-bottom: 60px;   
  position: relative;
  z-index: 2;           
  opacity: 0.5;          
  letter-spacing: 0.3px;
} 
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
.form-box.active{
    display: block;
}
h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input,
select {
    width: 100%;
    padding: 12px;
    background: #eee ;
    border: 1px solid #ccc;
    border-radius: 6 px;
    border: none;
    outline: none;
    font-size:16px;
    color: #333;
    margin-bottom:20px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    appearance: none;
}
button{
    width: 100%;
    padding: 12px;
    background: #2e59a7;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
button:hover{
    background: #234785;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(46, 89, 167, 0.3);
}
p{
    font-size: 14.5;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
p a{
    color: rgb(35, 116, 215);
    text-decoration: none;
}
p a :hover{
    text-decoration: underline;
}